body {
    height: 100%;
    width: 100%;
    background-image: url(./img/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'batman';
    margin: 0 auto;
}
body>div{
    margin-top: 25% !important;
    text-align: center;
    padding: 5px;
    border: 1px;
    border: solid;
    border-radius: 15px;
    width: 38%;
    margin: 0 auto;
}
input {
    display: inline-block;
    margin:auto; 
    vertical-align: top;
    height: 20px;
    background-color: transparent;
    font-size: 14px;
    text-align: left;
    color: white;
    border: 2px;
    border-style: solid;
    border-color: white;
    box-shadow: 1px 1px 3px black;
    border-radius: 8px;
    text-align: center;
}